<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
    <i class="ion-close"></i>
  </button>

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Annex</a>
      <!-- <a href="index.html" class="logo"><img src="assets/images/logo.png" height="24" alt="logo"></a> -->
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">

    <div id="sidebar-menu">
      <ul>

        <li>
          <a href="master/AcountManage?m=1&n=1" class="waves-effect"><i class="mdi mdi-settings"></i><span> 계정관리 </span></a>
        </li>
        <li>
          <a href="master/EventManage" class="waves-effect"><i class="mdi mdi-airplay"></i><span> 이벤트 배너 관리 </span></a>
        </li>
        <li>
          <a href="master/CategoryManage" class="waves-effect"><i class="ti-plus"></i><span> 카테고리 편집 </span></a>
        </li>
        <li>
          <a href="master/ShopManage?page=1" class="waves-effect"><i class="ti-plus"></i><span> 제휴샵 리스트 </span></a>
        </li>
        <li>
          <a href="master/ShopReceive?page=1&list=1" class="waves-effect"><i class="ti-plus"></i><span> 제휴샵 연장 신청 </span></a>
        </li>
        <li>
          <a href="master/UserService?page=1" class="waves-effect"><i class="ti-plus"></i><span> 고객 센터 </span></a>
        </li>
        <li>
          <a href="master/BoardManage?page=1&type=board" class="waves-effect"><i class="ti-plus"></i><span> 게시글 관리 </span></a>
        </li>
        <li>
          <a (click)="logout()" class="waves-effect"><i class="mdi mdi-power"></i><span> 로그아웃 </span></a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->