<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
  <button type="button" class="button-menu-mobile button-menu-mobile-topbar open-left waves-effect">
    <i class="ion-close"></i>
  </button>

  <!-- LOGO -->
  <div class="topbar-left">
    <div class="text-center">
      <a href="index.html" class="logo"><i class="mdi mdi-assistant"></i> Annex</a>
      <!-- <a href="index.html" class="logo"><img src="assets/images/logo.png" height="24" alt="logo"></a> -->
    </div>
  </div>

  <div class="sidebar-inner slimscrollleft">

    <div id="sidebar-menu">
      <ul>

        <li>
          <a href="manager/Home" class="waves-effect"><i class="mdi mdi-settings"></i><span> 제휴샵 관리 </span></a>
        </li>
        <li>
          <a href="manager/ShopReviews" class="waves-effect"><i class="mdi mdi-airplay"></i><span> 샵에 작성된 리뷰 </span></a>
        </li>
        <li>
          <a href="manager/ShopAddListing" class="waves-effect"><i class="ti-plus"></i><span> 새 샵 추가 </span></a>
        </li>
        <li>
          <a href="manager/ShopExt" class="waves-effect"><i class="ti-plus"></i><span> 연장 신청 </span></a>
        </li>
        <li>
          <a (click)="logout()" class="waves-effect"><i class="mdi mdi-power"></i><span> 로그아웃 </span></a>
        </li>

      </ul>
    </div>
    <div class="clearfix"></div>
  </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->