<body class="fixed-left">

<!-- Loader -->
<div id="preloader"><div id="status"><div class="spinner"></div></div></div>

<!-- Begin page -->
<div id="wrapper">

  <app-side-nav></app-side-nav>

  <!-- Start right Content here -->

  <div class="content-page">
    <!-- Start content -->
    <div class="content">

      <app-header></app-header>

      <div class="page-content-wrapper ">

        <div class="container-fluid">

          <div class="row">
            <div class="col-sm-12">
              <div class="page-title-box">
                <div class="btn-group float-right">
                  <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a>샵 관리자</a></li>
                    <li class="breadcrumb-item active">샵 이용기간 연장</li>
                    <li class="breadcrumb-item active">STEP-2</li>
                  </ol>
                </div>
                <h4 class="page-title">샵 이용기간 연장</h4>
              </div>
            </div>
          </div>
          <!-- end page title end breadcrumb -->
          <div class="row">
            <!--샵 결제-->
            <div class="col-md-12 col-xl-12">
              <div class="card m-b-30">
                <div class="card-body new-user">
                  <h5 class="header-title mb-4 mt-0">결제</h5>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
</body>
